<div>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{
        currentLang === "en"
          ? "🧠🌿 Welcome to the LifeFlow-Selfcheck!"
          : "🧠🌿 Willkommen beim LifeFlow-Selbstcheck!"
      }}</span>
    </div>

    <div style="border-bottom: 1px solid #1e6f5c; margin: 0 50px"></div>

    <app-self-check-logic></app-self-check-logic>
    <div
      class="card-action"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <a
        target="_blank"
        class="text-highlight"
        href="https://lifeflow.now/"
        style="text-transform: none"
        >lifeflow.now</a
      >

      <a
        class="activator"
        style="
          color: #1e6f5c;
          margin: 0;
          padding: 0;
          text-transform: none;
          cursor: pointer;
        "
      >
        👉 Details & FAQ
      </a>
    </div>
    <div class="card-reveal">
      <app-details-faq></app-details-faq>
    </div>
  </div>
</div>
