<div class="m-3 card border-light shadow-sm">
  <h5 class="m-4">
    {{
      currentLang === "en"
        ? "🧠🌿 Welcome to the LifeFlowCheck™"
        : "🧠🌿 Willkommen beim LifeFlowCheck™"
    }}
  </h5>
  <hr class="my-0" style="border-color: #0f4f45; opacity: 1" />
  <app-self-check-logic></app-self-check-logic>

  <!-- Actions -->
  <div class="card-footer d-flex justify-content-between align-items-center">
    <!-- If you really want a new tab, prefer href over routerLink -->
    <a class="text-secondary text-decoration-none">LifeFlow.Now™</a>

    <button
      type="button"
      class="btn text-secondary"
      data-bs-toggle="collapse"
      data-bs-target="#flowFaq"
      aria-expanded="false"
      aria-controls="flowFaq"
    >
      Details & FAQ
    </button>
  </div>

  <!-- Collapsible details inside the card -->
  <div id="flowFaq" class="collapse">
    <div class="card-body border-top">
      <app-details-faq></app-details-faq>
    </div>
  </div>
</div>
