<div id="topic-selector" class="container my-5">
  <div class="row text-center mb-5">
    <div class="col-12">
      <h4>
        {{
          currentLang === "en"
            ? "Click the topic that resonates."
            : "Was beschäftigt dich gerade?"
        }}
      </h4>
    </div>
  </div>

  <div class="row text-center g-4">
    <!-- Orientation -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn waves-effect waves-light btn-selector btn-gradient pulse-btn"
          [routerLink]="['clarity']"
          >{{ currentLang === "en" ? "Orientation" : "Orientierung" }}
          <i class="bi bi-geo-alt"></i>
        </a>
      </div>
    </div>

    <!-- Inner Peace -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn waves-effect waves-light btn-selector btn-gradient pulse-btn"
          [routerLink]="['inner-peace']"
          >{{ currentLang === "en" ? "Inner Peace" : "Innere Ruhe" }}
          <i class="bi bi-circle"></i>
        </a>
      </div>
    </div>

    <!-- Energy -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn waves-effect waves-light btn-selector btn-gradient pulse-btn"
          [routerLink]="['drive']"
          >{{ currentLang === "en" ? "Energy" : "Energie" }}
          <i class="bi bi-lightning"></i>
        </a>
      </div>
    </div>
  </div>
</div>
