.bg {
  background-image: url("../../../../../assets/mountainlake.jpg");
  background-size: cover; /* fills the div */
  background-position: center; /* keeps image centered */
  background-repeat: no-repeat;

  min-height: 300px; /* REQUIRED */
  padding: 2rem; /* so content has space */
  color: white;
}
