<div
  id="topic-selector"
  class="d-flex flex-column bg"
  style="height: 80vh; padding-top: 10vh"
>
  <div class="row text-center mb-5">
    <div class="col-12">
      <h4 class="gradient-title-sm">
        {{
          currentLang === "en"
            ? "Click the topic that resonates."
            : "Was beschäftigt dich gerade?"
        }}
      </h4>
    </div>
  </div>

  <div class="row text-center g-4">
    <!-- Orientation -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn pulse-btn-yellow"
          [routerLink]="['/', currentLang, 'clarity']"
          >{{
            currentLang === "en"
              ? "Lack of direction"
              : "Orientierungslosigkeit"
          }}
          <i class="bi bi-geo-alt"></i>
        </a>
      </div>
    </div>

    <!-- Inner Peace -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn pulse-btn-yellow"
          [routerLink]="['/', currentLang, 'inner-peace']"
          >{{ currentLang === "en" ? "Inner Restlesness" : "Innere Unruhe" }}
          <i class="bi bi-circle"></i>
        </a>
      </div>
    </div>

    <!-- Energy -->
    <div class="col-12 col-md-4">
      <div class="d-flex flex-column align-items-center">
        <a
          class="btn pulse-btn-yellow"
          [routerLink]="['/', currentLang, 'drive']"
          >{{ currentLang === "en" ? "Lack of Energy" : "Fehlende Energie" }}
          <i class="bi bi-lightning"></i>
        </a>
      </div>
    </div>
  </div>
</div>
