<div class="topnav" [ngClass]="{ topnav: true, responsive: isMenuOpen }">
  <a href="/" class="brand-logo" style="margin-left: 2rem">lifeflow.now</a>
  <a
    class="waves-effect waves-light"
    style="float: right; margin-right: 2rem"
    (click)="toggleLanguage(currentLang === 'en' ? 'de' : 'en'); toggleMenu()"
  >
    <span style="font-weight: bold">
      {{ currentLang === "en" ? "DE" : "EN" }}
    </span>
  </a>

  <a
    style="float: right; cursor: pointer; margin-right: 2rem"
    onclick="ml('show', 'CX9x9O', true)"
  >
    <i class="material-icons right align-center">mail</i>
    {{ currentLang === "en" ? "Sign up for more" : "Jetzt, mehr erfahren" }}
  </a>

  <a (click)="toggleMenu()" class="icon" style="margin-right: 2rem">
    <i class="material-icons">menu</i>
  </a>
</div>
