<div class="topnav" [ngClass]="{ topnav: true, responsive: isMenuOpen }">
  <a href="/" class="brand-logo">lifeflow.now</a>
  <a
    href="https://www.instagram.com/lifeflow.now/"
    target="_blank"
    aria-label="Instagram"
    style="margin-left: 2rem"
  >
    <img
      src="assets/instagram-icon.svg"
      alt="Instagram"
      width="25"
      height="25"
    />
  </a>
  <a
    class="waves-effect waves-light"
    style="float: right; margin-right: 2rem"
    (click)="toggleLanguage(currentLang === 'en' ? 'de' : 'en'); toggleMenu()"
  >
    <span style="font-weight: bold">
      {{ currentLang === "en" ? "DE" : "EN" }}
    </span>
  </a>

  <a style="margin-right: 2rem; float: right">
    <app-cta-email-course></app-cta-email-course>
  </a>

  <!--   <a
    href="https://wa.me/41787860731?text=Hey%20I%20just%20want%20to%20say%20hi."
    target="_blank"
    style="float: right; cursor: pointer; margin-right: 2rem"
  >
    <span>
      {{
        currentLang === "en"
          ? "Question? Contact me"
          : "Frage? Kontaktiere mich"
      }}
    </span>
    <i class="material-icons">chat</i>
  </a> -->

  <a (click)="toggleMenu()" class="icon" style="margin-right: 2rem">
    <i class="material-icons">menu</i>
  </a>
</div>
