<footer class="page-footer">
  <div class="container">
    <div class="row center-align" style="position: relative">
      <div class="col s12">
        <a
          href="https://www.instagram.com/lifeflow.now/"
          target="_blank"
          aria-label="Instagram"
          style="display: inline-block; margin-bottom: 0.5rem"
        >
          <img
            src="assets/instagram-icon.svg"
            alt="Instagram"
            width="25"
            height="25"
            style="vertical-align: middle"
          />
        </a>
      </div>
      <div class="col s12">
        <span
          class="white-text"
          style="display: inline-block; margin-top: 0.3rem"
        >
          Simple & clear for you and your mind. 🧠🌿 – lifeflow.now
        </span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div
      class="container"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <span>© 2025 Basil Jung · All rights reserved</span>
      <div>
        <a
          class="grey-text text-lighten-4 right"
          href="#!"
          style="margin-left: 20px"
          >Impressum</a
        >
        <a class="grey-text text-lighten-4 right" href="#!">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>
