<footer class="page-footer">
  <div class="container mb-4">
    <div
      class="col s12"
      style="
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
      "
    >
      <a
        href="https://www.instagram.com/lifeflow.now/"
        target="_blank"
        aria-label="Instagram"
      >
        <img
          src="assets/instagram-icon.svg"
          alt="Instagram"
          width="25"
          height="25"
        />
      </a>
      <span> Simple & clear for you and your mind. 🌿 </span>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row fw-bold">
        <div class="col-3">
          {{
            currentLang === "en"
              ? "LifeFlow.Now™ by Basil Jung"
              : "LifeFlow.Now™ by Basil Jung"
          }}
        </div>
        <div class="col-3">
          {{ currentLang === "en" ? "Contact" : "Kontakt" }}
        </div>
        <div class="col-2">
          {{ currentLang === "en" ? "Legal" : "Rechtliches" }}
        </div>
        <div class="col">
          {{ currentLang === "en" ? "Disclaimer" : "Haftungsausschluss" }}
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-2">
          <a
            class="grey-text text-lighten-4 right"
            [routerLink]="['/', currentLang, 'impressum']"
            >{{ currentLang === "en" ? "Imprint" : "Impressum" }}</a
          >
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-3 fst-italic fw-lighter">
          {{
            currentLang === "en"
              ? "Integral consciousness development for orientation, inner peace, and joy."
              : "Integrale Bewusstseinsentwicklung für Orientierung, innere Ruhe und Freude."
          }}
          <img
            class="img-setting-title"
            src="assets/basil-biz.jpg"
            width="100"
            height="100"
          />
        </div>
        <div class="col-3">
          E-Mail:
          <a href="mailto:basil.jung@lifeflow.now"
            >basil.jung&#64;lifeflow.now</a
          >
        </div>
        <div class="col-2">
          <a
            class="grey-text text-lighten-4 right"
            [routerLink]="['/', currentLang, 'privacy-policy']"
            >{{ currentLang === "en" ? "Privacy" : "Datenschutz" }}</a
          >
        </div>
        <div class="col fst-italic fw-lighter">
          {{
            currentLang === "en"
              ? "The content is intended for personal development, reflection, and educational purposes. It does not constitute therapeutic, medical, or psychological services and does not replace professional treatment. Coaching is understood as a supportive developmental process. Responsibility for decisions and actions always remains with the users. In case of medical or psychological concerns, acute distress, or emergencies, please consult qualified professionals or appropriate services."
              : "Die Inhalte dienen der persönlichen Entwicklung, Reflexion und Bildung. Sie stellen kein therapeutisches, medizinisches oder psychologisches Angebot dar und ersetzen keine fachliche Behandlung. Coaching versteht sich als begleitender Entwicklungsprozess. Die Verantwortung für Entscheidungen und Handlungen liegt stets bei den Nutzer:innen selbst. Bei medizinischen oder psychischen Beschwerden, akuten Krisen oder Notfällen wende dich bitte an qualifizierte Fachpersonen oder entsprechende Stellen."
          }}
        </div>
      </div>
    </div>
    <div
      class="container"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
      "
    >
      <span>© 2025 Basil Jung · All rights reserved</span>
    </div>
  </div>
</footer>
