<footer class="page-footer">
  <div class="container">
    <div
      class="row"
      style="align-items: center; justify-content: center; position: relative"
    >
      <div class="align-content">
        <a
          href="https://www.instagram.com/lifeflow.now/"
          target="_blank"
          aria-label="Instagram"
        >
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
            alt="Instagram"
            width="25"
            height="25"
            style="vertical-align: middle"
          />
        </a>
      </div>
      <div style="text-align: center">
        <span class="white-text">
          Simple & clear for you and your mind. 🧠🌿 – lifeflow.now
        </span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div
      class="container"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <span>© 2025 Basil Jung · All rights reserved</span>
      <div>
        <a
          class="grey-text text-lighten-4 right"
          href="#!"
          style="margin-left: 20px"
          >Impressum</a
        >
        <a class="grey-text text-lighten-4 right" href="#!">Datenschutz</a>
      </div>
    </div>
  </div>
</footer>
