<div class="cta">
  <h2 class="text-highlight">Sign up.</h2>
  <h4 class="text-primary" style="padding: 1rem">
    {{
      currentLang === "en"
        ? "Get weekly insights about motivation, inner peace, purpose & flow."
        : "Erhalte wöchentliche Impulse zu Motivation, innerem Frieden, Sinn und Flow."
    }}
  </h4>
  <div>
    <a
      class="btn-floating btn-large waves-effect waves-light btn-gradient pulse-btn"
      onclick="ml('show', 'CX9x9O', true)"
      target="_blank"
      ><i class="material-icons right align-center">mail</i></a
    >
  </div>
  <!--     <h3>
      You want to know more about the coaching / mentoring – Here's how to
      proceed:
    </h3>
    <a
      class="btn-floating btn-large waves-effect waves-light btn-gradient pulse-btn"
      href="https://forms.gle/yZuFjDN52hTdjNHLA"
      ><i class="material-icons">crop_square</i></a
    > -->
  <h5 class="text-highlight" style="padding: 3rem">
    {{
      currentLang === "en"
        ? "If there is a question, text me:"
        : "Hast du eine Frage, melde dich: "
    }}
    <a href="mailto:basil.jung@lifeflow.now">basil.jung&#64;lifeflow.now</a>
  </h5>
</div>
