<div
  id="topic-selector"
  style="margin-top: 10rem; margin-bottom: 10rem"
  class="row center-align"
>
  <div class="center-elements">
    <h4>
      {{
        currentLang === "en"
          ? "What’s on your mind right now? Choose the topic..."
          : "Was beschäftigt dich gerade? Wähle das Thema..."
      }}
    </h4>
    <!--     <a
      (click)="scrollTo('topic-selector')"
      class="btn-floating btn-large waves-effect waves-light bg-highlight"
      ><i class="material-icons">keyboard_arrow_down</i></a
    > -->
  </div>
  <div class="col s12 m4">
    <h1 class="gradient-title-sm">
      {{
        currentLang === "en"
          ? "📍 Meaning & Orientation"
          : "📍 Sinn & Orientierung"
      }}
    </h1>
    <a
      class="btn-floating btn waves-effect waves-light btn-gradient pulse-btn"
      [routerLink]="['clarity']"
      ><i class="material-icons">adjust</i></a
    >
    <!--     <h4>
      {{
        currentLang === "en"
          ? "I feel overwhelmed or restless."
          : "Ich fühle mich überfordert oder unruhig"
      }}
    </h4> -->
  </div>
  <div class="col s12 m4">
    <h1 class="gradient-title-sm">
      {{
        currentLang === "en"
          ? "🧘 Inner Peace & Confidence"
          : "🧘 Innere Ruhe & Selbstvertrauen"
      }}
    </h1>
    <a
      class="btn-floating btn waves-effect waves-light btn-gradient pulse-btn"
      [routerLink]="['inner-peace']"
      ><i class="material-icons">crop_square</i></a
    >
    <!--     <h4>
      {{
        currentLang === "en"
          ? "I feel overwhelmed or restless."
          : "Ich fühle mich überfordert oder unruhig"
      }}
    </h4> -->
  </div>
  <div class="col s12 m4">
    <h1 class="gradient-title-sm">
      {{
        currentLang === "en"
          ? "⚡️ Inner Drive & Energy"
          : "⚡️ Motivation & Energie"
      }}
    </h1>
    <a
      class="pulse-btn btn-floating btn waves-effect waves-light btn-gradient"
      [routerLink]="['drive']"
      ><i class="material-icons">360</i></a
    >
    <!--     <h4>
      {{
        currentLang === "en"
          ? "I have goals—but I’m stuck, unmotivated, & can't focus."
          : "Ich habe Ziele – aber bin unmotiviert & der Fokus fehlt."
      }}
    </h4> -->
  </div>
</div>
