<div id="topic-selector" style="height: 70vh" class="row center-align">
  <div class="col s12 m6">
    <h1 class="gradient-title">⚡️ Inner Drive</h1>
    <a
      class="pulse-btn btn-floating btn-large waves-effect waves-light btn-gradient"
      [routerLink]="['drive']"
      ><i class="material-icons">grade</i></a
    >
    <h4>I have goals—but I’m stuck, unmotivated, & can't focus.</h4>
  </div>

  <div class="col s12 m6">
    <h1 class="gradient-title">🧘 Inner Peace</h1>
    <a
      class="btn-floating btn-large waves-effect waves-light btn-gradient pulse-btn"
      [routerLink]="['inner-peace']"
      ><i class="material-icons">crop_square</i></a
    >
    <h4>I feel overwhelmed or mentally restless.</h4>
  </div>
</div>
