<div class="title-box-black">
  <app-default-section-2>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "HOW I LEARNED THIS THE HARD WAY" : "--DE" }}
      </h1>
      <h2 class="gradient-title-sm">
        {{
          currentLang === "en"
            ? "Hi, I’m Basil — systems engineer, coach & also highly ambitious aswell. I spent years optimizing performance, until I realized: optimization without self‑understanding keeps you running in circles. Over the last decade I combined systems thinking, coaching (EASC/LTC), neuroscience and mindfulness into a clear method that helps ambitious people lead themselves with calm strength. This work isn’t theory — it’s lived practice. If you’re successful outside but restless inside, I built LifeFlow for you."
            : "--DE"
        }}
      </h2>
    </div>
  </app-default-section-2>
</div>
