<div class="title-box-green">
  <app-default-section-2>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "HOW I LEARNED THIS THE HARD WAY" : "--DE" }}
      </h1>
    </div>

    <img slot="image" src="assets/work.jpg" width="180" class="img-setting" />

    <div slot="text">
      <p style="color: white">
        {{
          currentLang === "en"
            ? "Hi, I’m Basil — systems engineer, coach & highly ambitious aswell. I spent years optimizing performance, until I realized: optimization without self‑understanding keeps you running in circles. Over the last decade I combined systems thinking, coaching (EASC/LTC), neuroscience and mindfulness into a clear method that helps ambitious people lead themselves with calm strength. This work isn’t theory — it’s lived practice. If you’re successful outside but restless inside, I built LifeFlow.Now™ Program for you."
            : "--DE"
        }}
      </p>
    </div>
  </app-default-section-2>
</div>
