<a
  style="cursor: pointer; color: white"
  (click)="openSignUpDialog()"
  onclick="ml('show', 'CX9x9O', true)"
>
  <i class="material-icons right align-center">mail</i>
  {{
    currentLang === "en"
      ? "Free 31-day email course"
      : "Gratis 31-Tage Emailkurs"
  }}
</a>

@if (isLoading) {
  <div class="preloader-wrapper small active">
    <div class="spinner-layer spinner-custom">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
}
