<!--Challenge-->
<div class="title-box-white">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "Your Challenge" : "Deine Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          <i class="material-icons">chevron_right</i>You are unmotivated or
          procrastinating.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>You lose yourself in small
          tasks and can’t focus.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>So many ideas — but lots of
          doubts and overthinking.
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>You lack the energy for what truly matters.</b>
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>You feel you don't have control.</b>
        </li>
      </ul>
    } @else {
      <ul class="li-item" slot="list">
        <li>
          <i class="material-icons">chevron_right</i>Du bist unmotiviert und
          kommst nicht voran.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>Du verlierst dich in
          Kleinigkeiten und kannst dich nicht fokussieren.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>So viele Ideen – aber auch
          viel Zweifel und Überanalysieren.
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>Dir fehlt die Energie für das, was wirklich zählt.</b>
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>Du hast das Gefühl, keine Kontrolle zu haben.</b>
        </li>
      </ul>
    }

    <img
      slot="image"
      src="assets/unmotivated.png"
      width="120"
      class="img-setting"
    />

    @if (currentLang === "en") {
      <h3 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        body, and priorities.
      </h3>
    } @else {
      <h3 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deinen Körper und deine Prioritäten.
      </h3>
    }
  </app-topic-structure>
</div>

<!--Answer-->
<div class="title-box-green">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "TIME TO UNDERSTAND" : "ZEIT ZU VERSTEHEN" }}
      </h1>
      <h2 class="gradient-title-sm-green">
        {{
          currentLang === "en"
            ? "Structure for your mind. Strength for your nerves. Direction for your life."
            : "Struktur für deinen Geist. Stärke für dein Nervensystem. Richtung für dein Leben."
        }}
      </h2>
      <h3>
        LifeFlow Coaching System™ is a structured 1:1 program that helps you
        turn pressure into focus, overthinking into clarity, and achievement
        into fulfillment — with tools built for time‑poor creators & leaders.
      </h3>
    </div>
  </app-topic-structure>
  <app-get-details-btn></app-get-details-btn>
</div>
