<div class="title-box-white">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>• You are unmotivated or procrastinating.</li>
        <li>• You lose yourself in small tasks and can’t focus.</li>
        <li>• So many ideas — but lots of doubts and overthinking.</li>
        <li>• <b>You lack the energy for what truly matters.</b></li>
        <li>• <b>You feel you don't have control.</b></li>
      </ul>
    } @else {
      <ul class="li-item" slot="list">
        <li>• Du bist unmotiviert und kommst nicht voran.</li>
        <li>
          • Du verlierst dich in Kleinigkeiten und kannst dich nicht
          fokussieren.
        </li>
        <li>• So viele Ideen – aber auch viel Zweifel und Überanalysieren.</li>
        <li>• <b>Dir fehlt die Energie für das, was wirklich zählt.</b></li>
        <li>• <b>Du hast das Gefühl, keine Kontrolle zu haben.</b></li>
      </ul>
    }

    <img
      slot="image"
      src="assets/unmotivated.png"
      width="120"
      class="img-setting"
    />

    @if (currentLang === "en") {
      <h3 slot="bottom">
        You don’t need more hacks. You need a clear understanding your mind,
        body, and priorities.
      </h3>
    } @else {
      <h3 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deinen Körper und deine Prioritäten.
      </h3>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  <p slot="detail-text">
    LifeFlow Coaching Program™ is a structured 1:1 program that helps you
    activate your inner drive, take purposeful action, and move forward with
    clarity and energy — designed for time-poor professionals. Enhanced with AI
    and easy to integrate in your day.
  </p>
</app-dive-deeper-intro>
