<div>
  <a
    class="grey-text text-lighten-4 right"
    [routerLink]="'/'"
    style="margin-left: 20px"
    >Back</a
  >
</div>
<section id="impressum" style="padding: 20px; font-family: Arial, sans-serif">
  <h2>Impressum</h2>

  <p>
    <strong>LifeFlow Coaching</strong><br />
    Basil Jung<br />
    General-Wille-Strasse 153<br />
    8706 Meilen, Schweiz<br />
    E-Mail:
    <a href="mailto:basil.jung@lifeflow.now">basil.jung&#64;lifeflow.now</a>
  </p>

  <h4>Haftungsausschluss</h4>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehme ich jedoch
    keine Gewähr.
  </p>

  <h4>Urheberrecht</h4>
  <p>
    Die auf dieser Website veröffentlichten Inhalte unterliegen dem
    schweizerischen Urheberrecht. Jede Art der Verwertung (z.&nbsp;B.
    Vervielfältigung, Bearbeitung, Verbreitung) außerhalb der Grenzen des
    Urheberrechts bedarf meiner vorherigen schriftlichen Zustimmung.
  </p>

  <h4>Hinweis zur Datennutzung</h4>
  <p>
    Weitere Informationen zur Verarbeitung personenbezogener Daten finden Sie in
    der <a href="/datenschutz">Datenschutzerklärung</a>.
  </p>
</section>
