.background-layer-about {
  height: 100%;
  width: 100%;
  z-index: -2;
  background: url("./../../assets/mountainlake.jpg") center/cover no-repeat;
  height: 250px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
