<div class="text-center bg-light background-layer-about"></div>
<div class="container">
  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card border-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            {{ currentLang === "en" ? "Hi, I am Basil" : "Hi, ich bin Basil" }}
          </h5>
          <p class="card-text">
            {{
              currentLang === "en"
                ? "On this page, I share some personal insights to my world, how it all began, what drives me, and why I do what I do."
                : "Auf dieser Seite teile ich einen persönlichen Einblick in meine Welt, wie alles begonnen hat, was mich bewegt und warum ich heute tue, was ich tue."
            }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4 justify-content-center">
    <hr class="my-0 w-50" style="border-color: #0f4f45; opacity: 1" />
  </div>

  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-10">
      <div class="card border-light">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets/flowers-hike-basil.jpg"
              class="img-fluid rounded-start"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ currentLang === "en" ? "How is started" : "Wie es begann" }}
              </h5>
              <p class="card-text">
                {{
                  currentLang === "en"
                    ? "With 16, I began my first professional education. I remember thinking, “If I do well here, I’ll be set for life. No Suffering no worries, just free.” That belief became my first real wake-up call.

I did perform well. And yet, nothing fundamentally changed. But I still believed pushing and achieving will make me feel worthy and free. Work and hustle slowly became my way of proving my worth. Staying busy felt safer than slowing down. But deep down, I was running from myself. For years, I lived with self-doubt, constant overthinking, and the pressure to justify my existence through performance. That became my default state.

I always wanted to live fully—to maximize my life while still feeling good and genuinely happy. But most of the time, life felt more like a fight than a flow. Funny enough I grew up in an environment where my pressure was created by myself. I am greatfull for it because it taught be dicipline persistance and the ability to psuh through. Today I know with the right knowledge, self-awareness, acceptenace and direction your drive does not have to come from lack but from abundance.  

-----What helped me? The decision to follow my curiosity and believe. And constantly evaluating and persistance.  I kept searching. I went deeper. And eventually, I turned inward.

I stopped optimizing my life and started understanding myself. I began uncovering the hidden beliefs and internal drivers that kept me trapped in a race I could never win. It was no longer about becoming better, just to better—it was about discovering what had been unknown within me, using my strength and living my values. And with that shift overtime, more ease, energy & clarity returned."
                    : "-"
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4 justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{
              currentLang === "en"
                ? "I dream of a world..."
                : "Ich träume von einer Welt..."
            }}
          </h5>
          <p class="card-text">
            {{
              currentLang === "en"
                ? "...where effectiveness and humanity go hand in hand. Where maximization is measured by happiness, and where consciousness is at the center, and where work, business, and innovation help us foster the human experience, not the other way around. Passionate, vibrant, and full of energy."
                : ".., in der Wirksamkeit und Menschlichkeit Hand in Hand gehen. In der Maximierung auf Glück bemessen wird und wir das Bewusstsein im Zentrum haben und Arbeit, Wirtschaft, Innovation uns helfen die Menschliche Erfahrung zufördern und nicht ungekehrt. Leidenschaftlich, lebendig und voller Energie."
            }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ currentLang === "en" ? "Mission" : "Mission" }}
          </h5>
          <p class="card-text">
            {{
              currentLang === "en"
                ? "My mission is to bring integral awareness into everyday life — not only on the meditation cushion or in retreat settings, but in a grounded, honest, and deeply human way, right in the midst of life. Where we work, make decisions, and carry responsibility — where awareness can offer the greatest stability and impact.

I am convinced that we need more people doing meaningful and useful work. And we need work environments where awareness is present — so that we can unite our humanity with purpose, effectiveness, and responsibility. In this way, a world can emerge that lives in harmony with nature and enables a form of development that brings us closer to one another."
                : "Mission - Meine Mission ist es, integrales Bewusstsein im Alltag lebendig zu machen – nicht nur auf dem Meditationskissen oder im Retreat, sondern ehrlich, menschlich und mitten im Leben. Dort, wo wir arbeiten, entscheiden, Verantwortung tragen und Bewusstsein am meisten Halt geben kann.

Ich bin überzeugt: Wir brauchen mehr Menschen, die sinnvolle und nützliche Arbeit leisten. Und wir brauchen Arbeitsumfelder, in denen Bewusstsein präsent ist – damit wir unsere Menschlichkeit mit Sinn, Wirksamkeit und Verantwortung verbinden können. So entsteht eine Welt, die im Einklang mit der Natur steht und eine Entwicklung ermöglicht die uns näher zu einander bringt."
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="formula-selector" class="title-box-green my-4">
    <div class="row my-4 justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card border-light text-center">
          <div class="card-body">
            <h5 class="card-title">
              {{
                currentLang === "en"
                  ? "A bit more about me"
                  : "Etwas mehr über mich"
              }}
            </h5>
            <p class="card-text" style="color: black">
              {{
                currentLang === "en"
                  ? "Curiosity is a central driving force in my life. I am inspired by health, movement, innovative technology, complexity, deep questions, and personal growth. I am guided by my intuition, an integral perspective, and what gives me energy.

Movement, mountains, adventure, innovation, relationships, and personal development are passions I live fully."
                  : "Neugier ist ein zentraler Antrieb in meinem Leben. Gesundheit, Bewegung, innovative Technologie, Komplexität, tiefe Fragen und persönliches Wachstum begeistern mich. Ich folge dabei meiner Intuition, einem integralen Blick und dem, was mir Energie gibt. Bewegung, Berge, Abenteuer, Innovation, Beziehungen und persönliche Entwicklung lebe ich mit Leidenschaft."
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-about-carousel></app-about-carousel>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-12 col-md-6">
      <div class="card border-light">
        <div class="card-body">
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>
                {{
                  currentLang === "en"
                    ? "Life meets you through questions and challenges. What you ignore or fail to hear returns, in the same or a different form. When you choose self-responsibility and allow the present moment to shape who you are, peace, fulfillment, and joy unfold.."
                    : "Das Leben begegnet dir in Aufgaben und Fragen. Was du überhörst
              oder ignorierst, kehrt zurück, in gleicher oder veränderter Form.
              Entscheidest du dich für Selbstverantwortung und nimmst den
              gegenwärtigen Moment als Schliff deiner Person und deines
              Charakters an, entstehen Frieden, Erfüllung und Freude."
                }}
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Basil Jung, <cite title="Source Title">LifeFlow.Now™</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
