.background-box {
  background-image: url("../../../assets/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}
