.highlight-marker-yellow {
  background: #ffe866; /* soft mustard yellow */
  padding: 0.25rem;
  border-radius: 6px;
}

.highlight-marker-orange {
  background: #ffb74d;
  padding: 0.25rem;
  border-radius: 6px;
}

.highlight-marker-green {
  background: #a5d66e;
  padding: 0.25rem;
  border-radius: 6px;
}
