<a
  href="https://forms.gle/kA61ZKs9sUbaYfQL7"
  target="_blank"
  class="btn pulse-btn-yellow"
  style="margin-bottom: 2rem"
>
  <span>
    {{ currentLang === "en" ? "Apply now" : "Jetzt anfragen" }}
  </span>
</a>

@if (isLoading) {
  <div style="margin-left: 2rem" class="preloader-wrapper small active">
    <div class="spinner-layer spinner-custom">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
}
