<div class="title-box-white container">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          <b>You keep pushing. You keep performing.</b>
        </li>
        <li>But that inner restlessness won’t go away.</li>
        <li><b>You are free, but you don’t feel free.</b></li>
      </ul>
    } @else {
      <ul class="li-item" class="li-item" slot="list">
        <li>
          <b>Das Leben rast vorbei und du hast das Gefühl, es zu verpassen.</b>
        </li>
        <li>Der innere Antrieb hat nie genug.</li>
        <li><b>Du bist frei, doch es fühlt sich nicht so an.</b></li>
      </ul>
    }

    <!-- <img slot="image" src="assets/rush.png" width="120" class="img-setting" /> -->
    @if (currentLang === "en") {
      <h4 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        patterns and priorities.
      </h4>
    } @else {
      <h4 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deine Muster und Prioritäten.
      </h4>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  @if (currentLang === "en") {
    <p slot="detail-text">
      LifeFlow Coaching™ is a structured 1:1 program that helps you build
      resilience, make confident decisions, and turn achievements into
      fulfillment. Designed for ambitious and time-poor individuals.
    </p>
  } @else {
    <p slot="detail-text">
      LifeFlow Coaching™ ist ein strukturiertes 1:1-Programm, das dir hilft,
      Resilienz aufzubauen, klare und selbstsichere Entscheidungen zu treffen
      und Erfolge in echte Erfüllung zu verwandeln. Entwickelt für ambitionierte
      Menschen mit wenig Zeit.
    </p>
  }
</app-dive-deeper-intro>
