<div class="title-box-white">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          <i class="material-icons">chevron_right</i>
          <b>You keep pushing. You keep performing.</b>
        </li>
        <li>
          <i class="material-icons">chevron_right</i>But that inner restlessness
          won’t go away.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>It feels like an endless
          circle.
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>You are free, but you don’t feel free.</b>
        </li>
        <li>
          <i class="material-icons">chevron_right</i>External triggers cut deep.
        </li>
      </ul>
    } @else {
      <ul class="li-item" class="li-item" slot="list">
        <li>
          <i class="material-icons">chevron_right</i>
          <b
            >Das Leben rast vorbei – und du hast das Gefühl, es zu verpassen.</b
          >
        </li>
        <li>
          <i class="material-icons">chevron_right</i>Der innere Antrieb hat nie
          genug.
        </li>
        <li>
          <i class="material-icons">chevron_right</i>Es fühlt sich an wie ein
          endloser Kreislauf.
        </li>
        <li>
          <i class="material-icons">chevron_right</i
          ><b>Du bist frei, doch es fühlt sich nicht so an.</b>
        </li>
        <li>
          <i class="material-icons">chevron_right</i>Äussere Einflüsse treffen
          dich tief.
        </li>
      </ul>
    }

    <img slot="image" src="assets/rush.png" width="120" class="img-setting" />
    @if (currentLang === "en") {
      <h3 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        body, and priorities.
      </h3>
    } @else {
      <h3 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deinen Körper und deine Prioritäten.
      </h3>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  <p slot="detail-text">
    LifeFlow Coaching System™ is a structured 1:1 program that helps you build
    resilience, make confident decisions, and turn achievements into fulfillment
    — designed for time-poor creators and leaders.
  </p>
</app-dive-deeper-intro>
