.title-box {
  border-radius: 12px;
  //box-shadow: 0 20px 40px #0d1b2a;
  background-color: rgba(255, 255, 255, 0.6);
  //background-color: rgba(30, 111, 92, 0.1);
  padding: 2rem;
  margin-top: 4rem;
}
