<div style="margin: 2rem">
  <a
    class="btn-selector btn"
    data-bs-toggle="collapse"
    href="#collapseDetails"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    <span class="text-secondary">{{
      currentLang === "en" ? "SHOW DETAILS" : "MEHR ERFAHREN"
    }}</span>
  </a>
</div>
<div class="collapse" id="collapseDetails">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by
    default but revealed when the user activates the relevant trigger.
  </div>
</div>
