<div class="title-box-white">
  <app-default-section-1>
    <div slot="title">
      <h1>
        {{
          currentLang === "en"
            ? "The trap most high performers fall into"
            : "--DE"
        }}
      </h1>
      <h2 class="gradient-title-sm">
        {{
          currentLang === "en"
            ? "You’ve built a strong outer life — role, revenue, reputation. Yet inside, it’s noisy: stress, doubt, and a sense that you’re functioning instead of living. You try to think your way out — more podcasts, more frameworks, more lists. But willpower can’t replace self‑understanding. Without an inner system, every week feels like starting from zero.

Good news: When you align your values, biology, and focus — momentum stops depending on force. Peace and performance can coexist."
            : "Struktur für deinen Geist. Stärke für dein Nervensystem. Richtung für dein Leben."
        }}
      </h2>
    </div>
  </app-default-section-1>

  <div slot="title">
    <h1>
      {{
        currentLang === "en"
          ? "The Real Problem Isn't Your Effort. It's the effort in the wrong place."
          : "--DE"
      }}
    </h1>
    <h2 class="gradient-title-sm">
      {{
        currentLang === "en"
          ? "................................................."
          : "--DE"
      }}
    </h2>
  </div>
</div>
