<div class="title-box-white container">
  <h1 slot="title">
    {{
      currentLang === "en"
        ? "Who is the  programm best suited for?"
        : "Für wen ist das -Programm das Richtige?"
    }}
  </h1>
  <app-read-more [lines]="2" slot="text">
    <div slot="text-readmore-comp">
      {{
        currentLang === "en"
          ? "If you've become curious and want to know if I can really help you, take a moment and feel into these questions: Are you genuinely interested in experiencing lasting inner peace, freedom, and joy  regardless of what happens in the outside world? Do you often feel stressed, exhausted, or internally restless? Do you feel like you've lost sight of yourself and your true direction? Are you functioning in everyday life  but feeling internally empty or driven? Do you lack the energy to pursue your goals with ease and joy? Would you like to better understand yourself and lead a life that truly suits you? Do you want to feel deeply connected with yourself and the people in your life? If you nodded internally to these questions then I can help you"
          : "Wenn du neugierig geworden bist und wissen willst, ob ich dir wirklich helfen kann, dann nimm dir einen Moment Zeit und spüre in diese Fragen hinein: Bist du aufrichtig daran interessiert, nachhaltigen inneren Frieden, Freiheit und Freude zu erleben  unabhängig davon, was im Aussen geschieht? Fühlst du dich oft gestresst, erschöpft oder innerlich unruhig? Hast du das Gefühl, dich selbst und deine wahre Ausrichtung aus den Augen verloren zu haben? Funktionierst du im Alltag  fühlst dich dabei aber innerlich leer oder getrieben? Fehlt dir die Energie, um deine Ziele mit Leichtigkeit und Freude zu verfolgen? Möchtest du dich selbst besser verstehen und ein Leben führen, das wirklich zu dir passt? Willst du dich tief mit dir selbst und den Menschen in deinem Leben verbunden fühlen? Wenn du innerlich bei diesen Fragen genickt hast dann kann ich dir helfen."
      }}
    </div>
  </app-read-more>
  <div slot="bottom">
    @if (currentLang === "en") {
      <table
        style="
          width: 100%;
          border-collapse: collapse;
          font-family: Arial, sans-serif;
        "
      >
        <thead>
          <tr style="border-bottom: 2px solid #0f4f45">
            <th style="text-align: left; padding: 12px">
              💚 YES THIS IS FOR YOU
            </th>
            <th style="text-align: left; padding: 12px">
              ❌ SORRY IT'S NOT FOR YOU
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Open, curious, growth-oriented</td>
            <td style="padding: 8px">Unwilling to look deeper</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Self-responsible</td>
            <td style="padding: 8px">Unreliable</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Ambitious</td>
            <td style="padding: 8px">Only driven by status or ego</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Willing to invest time & energy</td>
            <td style="padding: 8px">No real commitment</td>
          </tr>
          <tr style="font-size: medium">
            <td style="padding: 8px">Values: Freedome, Growth, Authenticity</td>
            <td style="padding: 8px">
              Values: Superficiality, rigidity, mediocrity
            </td>
          </tr>
        </tbody>
      </table>
    } @else {
      <table
        style="
          width: 100%;
          border-collapse: collapse;
          font-family: Arial, sans-serif;
        "
      >
        <thead>
          <tr style="border-bottom: 2px solid #0f4f45">
            <th style="text-align: left; padding: 12px">
              💚 JA – DAS IST FÜR DICH
            </th>
            <th style="text-align: left; padding: 12px">
              ❌ NEIN – DAS IST NICHT FÜR DICH
            </th>
          </tr>
        </thead>
        <tbody>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Offen, neugierig, wachstumsorientiert</td>
            <td style="padding: 8px">Nicht bereit, tiefer zu schauen</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Selbstverantwortlich</td>
            <td style="padding: 8px">Unzuverlässig</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Ambitioniert</td>
            <td style="padding: 8px">Nur getrieben von Status oder Ego</td>
          </tr>
          <tr style="border-bottom: 1px solid #ddd; font-size: medium">
            <td style="padding: 8px">Bereit, Zeit & Energie zu investieren</td>
            <td style="padding: 8px">Kein echtes Commitment</td>
          </tr>
          <tr style="font-size: medium">
            <td style="padding: 8px">
              Werte: Freiheit, Wachstum, Authentizität
            </td>
            <td style="padding: 8px">
              Werte: Oberflächlichkeit, Starre, Mittelmass
            </td>
          </tr>
        </tbody>
      </table>
    }
  </div>
</div>
