<div class="title-box-green">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{
          currentLang === "en"
            ? "TIME TO DIVE DEEPER"
            : "ZEIT, TIEFER EINZUTAUCHEN"
        }}
      </h1>
      <h2 class="gradient-title-sm-green">
        {{
          currentLang === "en"
            ? "Clarity for your mind. Resilience for your system. Direction for your life."
            : "Klarheit für deinen Geist. Resilienz für dein System. Richtung für dein Leben."
        }}
      </h2>
      <ng-content select="[slot=detail-text]"></ng-content>
    </div>
  </app-topic-structure>
  <app-get-details-btn></app-get-details-btn>
</div>
