<div class="title-box-white">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          •
          <b>Instead of clarity, your apps bring chaos and more stress.</b>
        </li>
        <li>
          You use many tools, but without a clear system – and that makes you
          feel restless rather than productive.
        </li>
        <li>You've tried a lot, but you're not sure what actually works.</li>
        <li>
          •
          <b>You lack the know-how to use the right tools effectively.</b>
        </li>
        <li>You're missing both clarity and inner calm.</li>
      </ul>
    } @else {
      <ul class="li-item" slot="list">
        <li>
          •
          <b>Statt Klarheit bringen dir deine Apps nur Chaos & mehr Stress.</b>
        </li>
        <li>
          Du nutzt viele Tools, aber ohne System – und das macht dich eher
          unruhig als produktiv.
        </li>
        <li>
          Du hast viel ausprobiert, weißt aber nicht, was wirklich funktioniert.
        </li>
        <li>
          •
          <b
            >Dir fehlt das Know-how, um die richtigen Tools gezielt
            einzusetzen.</b
          >
        </li>
        <li>
          •
          <b>Dir fehlt der Überblick und deine innere Ruhe.</b>
        </li>
      </ul>
    }

    <img
      slot="image"
      src="assets/unmotivated.png"
      width="120"
      class="img-setting"
    />

    @if (currentLang === "en") {
      <h3 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        patterns and priorities.
      </h3>
    } @else {
      <h3 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deine Muster und Prioritäten.
      </h3>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  <p slot="detail-text">
    LifeFlow Coaching System™ is a structured 1:1 program that helps you turn
    pressure into focus, overthinking into clarity, and achievement into
    fulfillment — designed for time-poor professionals. Enhanced with AI and
    easy to integrate in your day.
  </p>
</app-dive-deeper-intro>
