<div class="container text-center">
  <div class="title-box-green bg-color my-6 p-5">
    <div class="row justify-content-center align-items-center g-3">
      <div class="col-md-8">
        <h1>
          {{
            currentLang === "en"
              ? "Clarity, inner peace and confidents."
              : "Klarheit, innere Ruhe und Selbstbewusstsein."
          }}
        </h1>
      </div>
      <div class="col-md-4 mb-4">
        <img
          class="img-setting-title"
          src="assets/basil-smile.png"
          width="150"
          height="150"
        />
      </div>
    </div>
  </div>
</div>
<div class="container position-move-up">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card border-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            {{ currentLang === "en" ? "Hi, I am Basil" : "Hi, ich bin Basil" }}
          </h5>
          <p class="card-text">
            {{
              currentLang === "en"
                ? "It’s great to have you here. As a coach and mentor, I guide people like you toward greater fulfillment, inner peace, and flow in everyday life."
                : "So schön, dass du da bist! Als Coach & Mentor unterstütze ich Menschen wie dich dabei, mehr Erfüllung, innere Ruhe und Flow im Alltag zu erfahren."
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
