<div style="height: 100vh">
  <h1 class="gradient-title" style="margin-top: 2em">
    {{
      currentLang === "en"
        ? "Performance with meaning & inner peace"
        : "Performance mit Sinn & Gelassenheit"
    }}
  </h1>
  <h4 style="margin-top: 3em; margin-bottom: 3em">
    {{
      currentLang === "en"
        ? "Flow – when biology, mind, and purpose are aligned."
        : "Flow – wenn Biologie, Geist und Sinn im Einklang sind."
    }}
  </h4>
  <div class="center-elements">
    <img
      src="assets/basil-smile.jpg"
      width="150"
      height="150"
      style="border-radius: 50%"
    />
    <h4>
      {{ currentLang === "en" ? "Let's have a look." : "Los geht's." }}
    </h4>
    <a
      (click)="scrollTo('topic-selector')"
      class="btn-floating btn-large waves-effect waves-light bg-highlight"
      ><i class="material-icons">keyboard_arrow_down</i></a
    >
  </div>
</div>
