<div class="container">
  <div class="title-box-green bg-color my-6 p-5">
    <div class="row justify-content-center align-items-center g-3">
      <div class="col-md-8">
        <h1>
          {{
            currentLang === "en"
              ? "No magic. But clarity, inner peace, and confidence - through deep self-understanding."
              : "Keine Magie. Aber Klarheit, innere Ruhe und Selbstvertrauen - durch tiefe Selbstkenntnis."
          }}
        </h1>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <img
          class="img-setting-title"
          src="assets/basil-smile.png"
          width="250"
          height="250"
        />
      </div>
    </div>
  </div>
</div>
<div class="container position-move-up">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card border-light text-center">
        <div class="card-body">
          <h5 class="card-title">
            {{ currentLang === "en" ? "Hi, I am Basil" : "Hi, ich bin Basil" }}
          </h5>
          <p class="card-text">
            {{
              currentLang === "en"
                ? "As a mentor, I guide ambitious people to clarify their values, build self-awareness, and play to their strengths, toward a clear direction, fulfillment, and inner peace in this hectic and ever-changing world."
                : "Als Mentor begleite ich ambitionierte Menschen dabei, ihre Werte zu klären, Selbstbewusstsein aufzubauen und ihre Stärken einzusetzen, für eine klare Richtung, mehr Erfüllung und innere Ruhe in dieser hektischen und sich stetig wandelnden Welt."
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
