.quiz-container {
  margin: auto;
  min-height: 70vh;
  text-align: center;
}

.question-container {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #0f4f45;
}
