<div class="quiz-container">
  @if (showLanguageBtn) {
    <div style="margin-bottom: 5rem">
      <h5>Choose the language and let's go:</h5>
      <div>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          style="margin: 1rem"
          (click)="toggleLanguageSelfcheck('EN')"
        >
          <span style="font-weight: bold">EN</span>
        </a>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          (click)="toggleLanguageSelfcheck('DE')"
        >
          <span style="font-weight: bold">DE</span>
        </a>
      </div>
    </div>
  }

  @if (showQuestions) {
    <div>
      <div
        class="question-container"
        [ngStyle]="{ opacity: showLanguageBtn ? '0.5' : '1' }"
        style="margin: 2rem; padding: 1rem"
      >
        <p style="font-style: italic">
          {{ currentQuestionIndex + 1 }} / {{ questions.length }}
        </p>
        <h5>{{ questions[currentQuestionIndex].text }}</h5>
      </div>
      @for (
        answer of questions[currentQuestionIndex].answers;
        track answer.text
      ) {
        <button
          style="cursor: pointer"
          [disabled]="showLanguageBtn"
          #btn
          (click)="selectAnswer(answer.effects); btn.blur()"
        >
          {{ answer.text }}
        </button>
      } @empty {
        <li>There are no items.</li>
      }
    </div>
  }

  @if (showResult) {
    @if (currentLangSelfCheck === "EN") {
      <app-display-result
        [results]="resultDataSet.outOfBalance"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🌿 Your biggest potential for more flow lies here!...
          </div>
        </div>
        <div slot="bottom">
          <div class="row" style="margin: 0px">
            <div
              class="card title-card-result"
              style="
                font-weight: 600;
                font-size: large;
                padding: 0.2rem;
                margin: 0px;
              "
            >
              👏 Great job – no strongly unbalanced areas detected!

              <span>Tell me your secret...</span>
            </div>
          </div>
          <div
            style="
              border-bottom: 1px solid #1e6f5c;
              margin: 3rem auto;
              width: 20rem;
            "
          ></div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.easyWins"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            ⚖️ Here is more room for flow, minor tweaks are enough!
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.lowestAreaPotential"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            ⛔️ This area shows the least flow. Do you know why?
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.goodFlow"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🌟 Congratulation. You're pretty much in flow here!
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.topAreas"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🚀 Your strongest area(s) – Would you say that’s true?
          </div>
        </div>
      </app-display-result>
      <h6>I am very happy to receive feedback.</h6>
      <button
        onclick="window.open('https://forms.gle/dL4LqC9ZxZ2sybog7', '_blank')"
        style="cursor: pointer"
      >
        💡 Feedback
      </button>
      <br />
    } @else {
      <app-display-result
        [results]="resultDataSet.outOfBalance"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🌿 Dein Potenzial für mehr Flow liegt hier...
          </div>
        </div>
        <div slot="bottom">
          <div class="row" style="margin: 0px">
            <div class="card title-card-result">
              >👏 Sehr gut – keine stark unausgeglichenen Bereiche erkannt!
              <span>Verrate mir dein Geheimnis...</span>
            </div>
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.easyWins"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            ⚖️ Hier steckt Entwicklungspotenzial für mehr Flow, kleinere
            Anpassungen reichen.
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.lowestAreaPotential"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            ⛔️ In diesem Bereich ist dein Flow am geringsten. Weisst du warum?
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.goodFlow"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🌟 Gratulation. Du bist ziemlich im Flow hier!
          </div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.topAreas"
        [lang]="currentLangSelfCheck"
      >
        <div slot="top" class="row" style="margin: 0px">
          <div class="card title-card-result">
            🚀 Das ist oder sind dein(e) Top-Bereich(e) – stimmst du zu?
          </div>
        </div>
      </app-display-result>
      <h6>Ich freue mich über dein Feedback.</h6>
      <button
        onclick="window.open('https://forms.gle/dL4LqC9ZxZ2sybog7', '_blank')"
        style="cursor: pointer"
      >
        💡 Feedback
      </button>
      <br />
    }
    <div
      style="border-bottom: 1px solid #1e6f5c; margin: 3rem auto; width: 20rem"
    ></div>
    <a
      class="waves-effect waves-light btn bg-highlight"
      onclick="ml('show', 'CX9x9O', true)"
      style="border-radius: 15px"
      ><i class="material-icons right">mail</i>Sign up for more</a
    >
  } @else {
    <button
      style="cursor: pointer; margin: 3rem"
      *ngIf="currentQuestionIndex > 0"
      (click)="goBack()"
    >
      ⬅️ Zurück
    </button>
  }
</div>
