<div class="cta">
  <h2 class="text-accent">Sign up.</h2>
  <h4 class="text-primary" style="padding: 1rem">
    {{
      currentLang === "en"
        ? "Get weekly insights about motivation, inner peace, purpose & flow."
        : "Erhalte wöchentliche Impulse zu Motivation, innerem Frieden, Sinn und Flow."
    }}
  </h4>
  <div>
    <a
      class="btn-floating btn-large waves-effect waves-light pulse-btn-yellow"
      onclick="ml('show', 'CX9x9O', true)"
      target="_blank"
      ><i class="material-icons right align-center">mail</i></a
    >
  </div>
  <h5 class="text-accent" style="padding: 3rem">
    {{
      currentLang === "en"
        ? "If there is a question, text me:"
        : "Hast du eine Frage, melde dich: "
    }}
    <a href="mailto:basil.jung@lifeflow.now">basil.jung&#64;lifeflow.now</a>
  </h5>
</div>
