<div id="formula-selector" class="title-box-green container">
  <h1>
    {{ currentLang === "en" ? "THE FORMULA" : "DIE FORMEL" }}
  </h1>

  <div class="row" style="margin: 1rem">
    <div class="card text-center col-sm-10 col-md-8 mx-auto">
      <div class="card-body font-formula-custom">
        {{
          currentLang === "en"
            ? "Life in Flow => Awareness x Self-Knowledge x Direction x Action x Integration "
            : "Leben im Flow => Bewusstsein x Selbstkenntnis x Richtung x Handeln x Integration"
        }}
      </div>
      <div class="card-footer">
        {{ currentLang === "en" ? "LifeFlow-CYCLE™" : "LifeFlow-ZYKLUS™" }}
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem; margin-bottom: 2rem">
    <div class="text-center col-sm-10 col-md-8 mx-auto">
      <p class="text-center" style="margin-top: 2rem">
        <i>
          {{
            currentLang === "en"
              ? "Once you realize you can’t get anywhere, you start to act and think differently; enter the LifeFlow.Now-CYCLE™."
              : "Sobald du erkennst, dass du nirgends ankommen wirst, beginnst du anders zu handeln und zu denken; steige in den LifeFlow.Now-ZYKLUS™ ein."
          }}</i
        >
      </p>
    </div>
  </div>

  <div class="row my-4 justify-content-center">
    <hr class="my-0 w-50 color-white" />
  </div>

  <app-carousel-formula> </app-carousel-formula>

  <div class="row my-4 justify-content-center">
    <hr class="my-0 w-50 color-white" />
  </div>

  <div class="d-flex justify-content-center p-3">
    <a
      class="btn pulse-btn-yellow"
      data-bs-toggle="collapse"
      href="#collapseDetails"
    >
      <span>{{
        currentLang === "en"
          ? "TELL ME MORE ABOUT THE PROCESS & OFFER"
          : "MEHR ERFAHREN ÜBER DEN PROZESS & DAS ANGEBOT"
      }}</span>
    </a>
  </div>

  <div class="card bg-transparent hero-card">
    <img
      src="./../../../../../assets/mountainlake.jpg"
      class="card-img h-100 w-100 object-fit-cover"
      style="filter: brightness(0.7)"
    />
    <div class="card-img-overlay">
      <p class="m-4 font-formula-custom">
        {{
          currentLang === "en"
            ? "Life repeats itself until we face what we try to avoid. Once we realize there’s nothing to fear in our inner world, life turns into play. True change begins within. Let’s explore it together."
            : "Das Leben wiederholt sich, bis wir uns öffnen für das, was wir zu vermeiden versuchen. Sobald wir erkennen, dass wir keine Angst vor unserer inneren Welt haben müssen, wird das Leben zum Spiel. Wahre Veränderung beginnt im Inneren. Lass uns gemeinsam dorthin schauen."
        }}
      </p>
    </div>
  </div>
  <app-details-process></app-details-process>
</div>
