<div class="title-box-white">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die  Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          <b
            >You’ve already overanalyzed everything and keep going in
            circles.</b
          >
        </li>
        <li>This lack of clarity drains your energy.</li>
        <li>Your heart and mind say different things.</li>
        <li>You doubt yourself.</li>
        <li><b>You lack orientation and understanding.</b></li>
      </ul>
    } @else {
      <ul class="li-item" slot="list">
        <li>
          <b>Du hast bereits alles überanalysiert und drehst dich im Kreis.</b>
        </li>
        <li>Diese Unklarheit raubt dir Energie.</li>
        <li>Herz und Verstand sagen Unterschiedliches.</li>
        <li>Du zweifelst.</li>
        <li><b>Dir fehlen Orientierung und Verständnis.</b></li>
      </ul>
    }

    <img
      slot="image"
      src="assets/unmotivated.png"
      width="120"
      class="img-setting"
    />

    @if (currentLang === "en") {
      <h3 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        patterns and priorities.
      </h3>
    } @else {
      <h3 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deine Muster und Prioritäten.
      </h3>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  <p slot="detail-text">
    LifeFlow Coaching System™ is a structured 1:1 program that helps you find
    purpose, break free from overthinking, and move forward with clarity.
    Designed for time-poor professionals. Enhanced with AI and easy to integrate
    in your day.
  </p>
</app-dive-deeper-intro>
