<div class="title-box-white container">
  <app-topic-structure>
    <div slot="title">
      <h1>
        {{ currentLang === "en" ? "The Challenge" : "Die  Herausforderung" }}
      </h1>
    </div>

    @if (currentLang === "en") {
      <ul class="li-item" slot="list">
        <li>
          <b
            >You’ve already overanalyzed everything and keep going in
            circles.</b
          >
        </li>
        <li>This lack of clarity drains your energy.</li>
        <li>You doubt yourself.</li>
      </ul>
    } @else {
      <ul class="li-item" slot="list">
        <li>
          <b>Du hast bereits alles überanalysiert und drehst dich im Kreis.</b>
        </li>
        <li>Diese Unklarheit raubt dir Energie.</li>
        <li>Du zweifelst.</li>
      </ul>
    }

    <!--     <img
      slot="image"
      src="assets/unmotivated.png"
      width="120"
      class="img-setting"
    /> -->

    @if (currentLang === "en") {
      <h4 slot="bottom">
        You don’t need more hacks. You need a clear understanding of your mind,
        patterns and priorities.
      </h4>
    } @else {
      <h4 slot="bottom">
        Du brauchst keine weiteren Hacks. Du brauchst ein klares Verständnis für
        deinen Geist, deine Muster und Prioritäten.
      </h4>
    }
  </app-topic-structure>
</div>

<app-dive-deeper-intro>
  @if (currentLang === "en") {
    <p slot="detail-text">
      LifeFlow Coaching & Mentoring™ is a structured 1:1 program that helps you
      find direction, break free from overthinking, and move forward with
      clarity. Designed for ambitious & time-poor individuals.
    </p>
  } @else {
    <p slot="detail-text">
      LifeFlow Coaching & Mentoring™ ist ein strukturiertes 1:1-Programm, das
      dir hilft, Orientierung zu finden, aus dem Gedankenkarussell auszusteigen
      und mit Klarheit voranzugehen. Entwickelt für ambitionierte Menschen mit
      wenig Zeit.
    </p>
  }
</app-dive-deeper-intro>
