<div class="background-layer"></div>

<div class="main-content">
  <header>
    <app-header></app-header>
  </header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <app-footer></app-footer>
    <script>
      function loadScript(a) {
        var b = document.getElementsByTagName("head")[0],
          c = document.createElement("script");
        (c.type = "text/javascript"),
          (c.src = "https://tracker.metricool.com/resources/be.js"),
          (c.onreadystatechange = a),
          (c.onload = a),
          b.appendChild(c);
      }
      loadScript(function () {
        beTracker.t({ hash: "8811865d2fce89ba4fc6859f8c852dbf" });
      });
    </script>
  </footer>
  <app-cookie-banner></app-cookie-banner>
</div>
