<app-title-page-top></app-title-page-top>

@if (!topic) {
  <app-topic-selector style="margin-bottom: 2rem"></app-topic-selector>
}

@if (topic === "inner-peace") {
  <app-inner-peace></app-inner-peace>
}

@if (topic === "clarity") {
  <app-clarity></app-clarity>
}

@if (topic === "drive") {
  <app-drive></app-drive>
}

@if (topic === "digital") {
  <app-digital></app-digital>
}

<app-section-trap></app-section-trap>

<app-personal-story></app-personal-story>

<app-the-formula></app-the-formula>

<app-usp></app-usp>

<app-understanding-section></app-understanding-section>

<app-result></app-result>

<app-brand-differentiation></app-brand-differentiation>

<div style="margin-bottom: 12rem">
  <h4>
    {{ currentLang === "en" ? "Client feedback" : "Kundenfeedback" }}
  </h4>

  <app-senja-coaching-testimonials></app-senja-coaching-testimonials>
</div>

<app-for-who-is-it></app-for-who-is-it>

<app-what-next></app-what-next>

<app-faq></app-faq>

<app-cta-1></app-cta-1>
