<div class="title-box-green container">
  <section class="cta" aria-labelledby="ctaTitle">
    <h1 id="ctaTitle">
      {{
        currentLang === "en"
          ? "Ready for your transformation?"
          : "Bereit für deine Transformation?"
      }}
    </h1>
    <div style="margin: 2rem">
      <app-apply-btn></app-apply-btn>

      <p>
        <strong>
          {{
            currentLang === "en"
              ? "LifeFlow.Now™ Self-Aware. Resilient. Effective."
              : "LifeFlow.Now™ Selbstbewusst. Resilient. Wirksam."
          }}
        </strong>
        {{
          currentLang === "en"
            ? "Build a life that feels as good inside as it looks outside."
            : "Gestalte ein Leben, das sich innerlich genauso gut anfühlt, wie es äußerlich aussieht."
        }}
      </p>
    </div>
  </section>
</div>
