<div
  id="textCarousel"
  class="carousel slide card overflow-hidden"
  data-bs-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#textCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#textCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#textCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#textCarousel"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#textCarousel"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>

  <!-- Carousel inner -->
  <div class="carousel-inner text-center">
    <div
      class="carousel-item active p-4"
      style="
        background-image: url(./../../../assets/mountainlake.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
      "
    >
      <div class="w-50 mx-auto">
        <h4>
          {{
            currentLang === "en"
              ? "1# - Curious & modern mystic"
              : "1# - Neugieriger & moderner Mystiker"
          }}
        </h4>
        <p>
          {{
            currentLang === "en"
              ? "Exploring reality and life is not an act of belief for me, but a way of living life. Because no matter what we do, we are always in the midst of life. Constantly. Always."
              : "Die Wirklichkeit und das Leben zu erforschen ist für mich kein Glaubensakt, sondern die Art, das Leben zu leben. Denn egal, was wir tun, wir sind mitten im Leben. Ständig, immer."
          }}
        </p>
      </div>
    </div>

    <div
      class="carousel-item p-4"
      style="
        background-image: url(./../../../assets/me.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
      "
    >
      <div class="w-50 mx-auto">
        <h4>
          {{
            currentLang === "en" ? "2# - Coach & Mentor" : "2# - Coach & Mentor"
          }}
        </h4>
        <p>
          {{
            currentLang === "en"
              ? "I hold space for insight and transformation and support people in developing clarity, self-confidence, and inner peace in these fast-paced and dynamic times."
              : "Ich halte Räume für Erkenntnis und Transformation und unterstütze Menschen dabei, in dieser hektischen und dynamischen Zeit Klarheit, Selbstvertrauen und inneren Frieden zu entwickeln."
          }}
        </p>
      </div>
    </div>

    <div
      class="carousel-item p-4"
      style="
        background-image: url(./../../../assets/skiUp.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
      "
    >
      <div class="w-50 mx-auto">
        <h4>
          {{
            currentLang === "en"
              ? "3# - System & Software Engineer"
              : "3# - System- & Software Engineer"
          }}
        </h4>
        <p>
          {{
            currentLang === "en"
              ? "Complex problems are my playground. I naturally simplify and shape systems, driven by a lifelong fascination with innovation and technology."
              : "Komplexe Probleme sind mein Spielplatz. Ich vereinfache und gestalte Systeme aus einer lebenslangen Faszination für Innovation und Technologie heraus."
          }}
        </p>
      </div>
    </div>

    <div
      class="carousel-item p-4"
      style="
        background-image: url(./../../../assets/zundb.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
      "
    >
      <div class="w-50 mx-auto">
        <h4>
          {{
            currentLang === "en"
              ? "4# - Friend & Partner"
              : "4# - Freund & Partner"
          }}
        </h4>
        <p>
          {{
            currentLang === "en"
              ? "Deep, honest, and fun relationships are essential to me. I experience partnership as a space for healing, growth, and reflection. They are my greatest teachers."
              : "Tiefe, ehrliche und freudvolle Beziehungen sind mir wesentlich. Partnerschaft erlebe ich als Raum für Heilung, Wachstum und Spiegelung. Sie sind der grösste Lehrmeister."
          }}
        </p>
      </div>
    </div>

    <div
      class="carousel-item p-4"
      style="
        background-image: url(./../../../assets/hike2.jpg);
        background-size: cover;
        background-position: center;
        min-height: 400px;
      "
    >
      <div class="w-50 mx-auto">
        <h4>
          {{
            currentLang === "en"
              ? "5# - Mountains, nature & sports enthusiast"
              : "5# - Berg- & Sportbegeisterter"
          }}
        </h4>
        <p>
          {{
            currentLang === "en"
              ? "Movement & nature is medicine for me; it keeps me present and clear-headed."
              : "Bewegung & Natur ist für mich Medizin und hält mich präsent und klar."
          }}
        </p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#textCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#textCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
