<div>
  <span class="card-title grey-text text-darken-4"
    >👉 Details & FAQ <i class="material-icons right">close</i></span
  >
  <div style="position: fixed; top: 80px; right: 30px; z-index: 1000">
    <a
      class="btn-floating btn-small waves-effect waves-light teal"
      (click)="toggleLanguage()"
    >
      <span style="font-weight: bold">{{
        currentLang === "DE" ? "EN" : "DE"
      }}</span>
    </a>
  </div>
  <div style="margin-top: 50px; padding: 40px">
    @if (currentLang === "DE") {
      <div>
        <ul class="collapsible" style="border-radius: 12px">
          <ng-container *ngFor="let entry of faqDetailsData_de">
            <li>
              <div class="collapsible-header" style="border-radius: 12px">
                {{ entry.title | titlecase }}
                <span class="badge" style="color: #1e6f5c">
                  👉 Klick für die Details</span
                >
              </div>
              <div class="collapsible-body">
                <div [innerHTML]="entry.text"></div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    } @else {
      <div>
        <ul class="collapsible" style="border-radius: 12px">
          <ng-container *ngFor="let entry of faqDetailsData_en">
            <li>
              <div class="collapsible-header" style="border-radius: 12px">
                {{ entry.title | titlecase }}
                <span class="badge" style="color: #1e6f5c">
                  👉 Click for details</span
                >
              </div>
              <div class="collapsible-body">
                <div [innerHTML]="entry.text"></div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    }
  </div>
</div>
