<div class="title-box-white container">
  <h1 slot="title">
    {{
      currentLang === "en"
        ? "LifeFlow.Now™? Why is it relevant?"
        : "LifeFlow.Now™? Warum ist es relevant?"
    }}
  </h1>
  <div slot="list">
    <app-read-more [lines]="2">
      <div slot="text-readmore-comp">
        {{
          currentLang === "en"
            ? "The world is accelerating. We all feel it: digital overload, uncertainty, pressure. Running faster isn't the answer anymore. At the same time, the desire for clarity, calm, connection, and purpose is growing. For me, escaping, distracting myself, or blocking out reality is not the solution. What can we do? When we begin to truly know ourselves, the noise around us loses its power. We stop being triggered, we react less, and we act with more resilience, flexibility, and calmness. LifeFlow.Now Mindset™ offers a clear response to the questions many are asking: Who am I – really? What gives my life purpose? How can I stay grounded in this high-speed world?."
            : "Die Welt beschleunigt sich. Wir alle spüren es: digitale Überlastung, Unsicherheit, Druck. Schneller zu laufen ist nicht mehr die Antwort. Gleichzeitig wächst das Verlangen nach Ruhe, Verbindung und Sinn. Für mich ist Flucht, Ablenkung oder das Ausblenden der Realität keine Lösung. Was können wir tun? Wenn wir beginnen, uns selbst wirklich zu erkennen, verliert das äußere Rauschen seine Macht. Wir werden weniger getriggert, reagieren gelassener und handeln mit mehr Resilienz, Flexibilität und Ruhe. LifeFlow.Now Mindset™ bietet eine klare Antwort auf die Fragen: Wer bin ich – wirklich? Was gibt meinem Leben Bedeutung? Wie kann ich in dieser Hochgeschwindigkeitswelt geerdet bleiben?"
        }}
      </div>
    </app-read-more>
  </div>
</div>
