<div style="display: flex; justify-content: flex-end; margin: 2rem">
  <a
    href="https://wa.me/41787860731?text=Hey%20Basil..."
    target="_blank"
    class="text-highlight"
    style="
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      cursor: pointer;
    "
  >
    <span>
      {{
        currentLang === "en"
          ? "Question? Contact me"
          : "Frage? Kontaktiere mich"
      }}
    </span>
    <i class="material-icons text-highlight">chat</i>
  </a>
</div>
