<div class="quiz-container">
  @if (showLanguageBtn) {
    <div style="margin-bottom: 5rem">
      <h5>Choose the language and let's go:</h5>
      <div>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          style="margin: 1rem"
          (click)="toggleLanguageSelfcheck('EN')"
        >
          <span style="font-weight: bold">EN</span>
        </a>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          (click)="toggleLanguageSelfcheck('DE')"
        >
          <span style="font-weight: bold">DE</span>
        </a>
      </div>
    </div>
  }

  @if (showQuestions) {
    <div>
      <h5
        class="question-container"
        [ngStyle]="{ opacity: showLanguageBtn ? '0.5' : '1' }"
      >
        {{ questions[currentQuestionIndex].text }}
      </h5>
      @for (
        answer of questions[currentQuestionIndex].answers;
        track answer.text
      ) {
        <button
          style="cursor: pointer"
          [disabled]="showLanguageBtn"
          #btn
          (click)="selectAnswer(answer.effects); btn.blur()"
        >
          {{ answer.text }}
        </button>
      } @empty {
        <li>There are no items.</li>
      }
    </div>
  }

  @if (showResult) {
    @if (currentLangSelfCheck === "EN") {
      <app-display-result
        [results]="resultDataSet.outOfBalance"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">🌿 Your potential for more flow lies here...</h5>
        <div slot="bottom">
          <h6>👏 Great job – no strongly unbalanced areas detected!</h6>
          <h6>Tell me your secret...</h6>
          <div
            style="
              border-bottom: 3px solid #1e6f5c;
              margin: 3rem auto;
              width: 20rem;
            "
          ></div>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.easyWins"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          ⚖️ There’s potential for more flow here, minor tweaks are enough
        </h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.lowestAreaPotential"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">⛔️ This area shows the least flow. Do you know why?</h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.goodFlow"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          🌟 Congratulation. You're pretty much in the flow here
        </h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.topAreas"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          🚀 Your strongest area(s) – would you say that’s true?
        </h5>
      </app-display-result>
      <h5>I am very happy to receive feedback.</h5>
      <button
        onclick="window.open('https://forms.gle/dL4LqC9ZxZ2sybog7', '_blank')"
        style="cursor: pointer"
      >
        💡 Feedback
      </button>
      <br />
    } @else {
      <app-display-result
        [results]="resultDataSet.outOfBalance"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">🌿 Dein Potenzial für mehr Flow liegt hier...</h5>
        <div slot="bottom">
          <h6>👏 Sehr gut – keine stark unausgeglichenen Bereiche erkannt!</h6>
          <h6>Verrate mir dein Geheimnis...</h6>
        </div>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.easyWins"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          ⚖️ Hier ist Entwicklungspotenzial für mehr Flow, kleinere Anpassungen
          reichen
        </h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.lowestAreaPotential"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          ⛔️ In diesem Bereich ist dein Flow am geringsten. Weisst du warum?
        </h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.goodFlow"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">🌟 Gratulation. Du bist ziemlich im flow hier</h5>
      </app-display-result>
      <app-display-result
        [results]="resultDataSet.topAreas"
        [lang]="currentLangSelfCheck"
      >
        <h5 slot="top">
          🚀 Das ist oder sind dein(e) Top-Bereich(e) – stimmst du zu?
        </h5>
      </app-display-result>
      <h5>Ich freue mich über dein Feedback.</h5>
      <button
        onclick="window.open('https://forms.gle/dL4LqC9ZxZ2sybog7', '_blank')"
        style="cursor: pointer"
      >
        💡 Feedback
      </button>
      <br />
    }
  }
  <button
    style="cursor: pointer; margin: 3rem"
    *ngIf="currentQuestionIndex > 0"
    (click)="goBack()"
  >
    ⬅️ Zurück
  </button>
  <p>{{ scores.clarity_goal }}</p>
  <p>{{ scores.emotional_space }}</p>
  <p>{{ scores.structure_focus }}</p>
  <p>{{ scores.feasibility_challenge }}</p>
  <p>{{ scores.meaning }}</p>
  <p>{{ scores.oxytocin }}</p>
  <p>{{ scores.dopamine }}</p>
  <p>{{ scores.serotonin }}</p>
  <p>{{ scores.endorphins }}</p>
</div>
