<div class="quiz-container">
  @if (showLanguageBtn) {
    <div style="margin-bottom: 5rem">
      <h5>Choose the language and let's go:</h5>
      <div>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          style="margin: 1rem"
          (click)="toggleLanguageSelfcheck('EN')"
        >
          <span style="font-weight: bold">EN</span>
        </a>
        <a
          class="btn-floating btn-large waves-effect waves-light teal"
          (click)="toggleLanguageSelfcheck('DE')"
        >
          <span style="font-weight: bold">DE</span>
        </a>
      </div>
    </div>
  }

  @if (showQuestions) {
    <div>
      <h5
        class="question-container"
        [ngStyle]="{ opacity: showLanguageBtn ? '0.5' : '1' }"
      >
        {{ questions[currentQuestionIndex].text }}
      </h5>
      @for (
        answer of questions[currentQuestionIndex].answers;
        track answer.text
      ) {
        <button
          style="cursor: pointer"
          [disabled]="showLanguageBtn"
          #btn
          (click)="selectAnswer(answer.effects); btn.blur()"
        >
          {{ answer.text }}
        </button>
      } @empty {
        <li>There are no items.</li>
      }
    </div>
  }

  @if (showResult) {
    @if (currentLangSelfCheck === "EN") {
      <h5>Your Results:</h5>
      <app-display-result [resultsOutOfBalance]="resultsOutOfBalance">
        <p slot="top">🌿 Your potential for more flow lies here...</p>
        <p slot="bottom">You are totally in flow.</p></app-display-result
      >
    } @else {
      <h5>Dein Resultat:</h5>
      <app-display-result [resultsOutOfBalance]="resultsOutOfBalance">
        <p slot="top">🌿 Dein Potenzial für mehr Flow liegt hier...</p>
        <p slot="bottom">Du bist total im Flow.</p></app-display-result
      >
    }
  }
  <button *ngIf="currentQuestionIndex > 0" (click)="goBack()">⬅️ Zurück</button>
  <p>{{ scores.clarity }}</p>
  <p>{{ scores.challenge }}</p>
  <p>{{ scores.space }}</p>
  <p>{{ scores.structure }}</p>
  <p>{{ scores.focus }}</p>
  <p>{{ scores.feasibility }}</p>
  <p>{{ scores.goal }}</p>
  <p>{{ scores.meaning }}</p>
  <p>{{ scores.oxytocin }}</p>
  <p>{{ scores.dopamine }}</p>
  <p>{{ scores.serotonin }}</p>
  <p>{{ scores.endorphins }}</p>
</div>
