/* You can add global styles to this file, and also import other style files */
.card {
  border-radius: 12px;
}

.card .card-action {
  border-radius: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
