<div>
  <div>
    <h1 class="gradient-title-lg">
      {{
        currentLang === "en"
          ? "Successful outside. Restless inside. Time to align both."
          : "Erfolgreich im Außen. Unruhig im Inneren. Zeit, beides in Einklang zu bringen."
      }}
    </h1>
    <h4 style="margin: 3rem 1rem 3rem 1rem">
      <span style="font-size: 1.75rem">
        {{
          currentLang === "en"
            ? "1:1 LifeFlow Coaching System™ for creators & high performers who want a life that feels as good inside as it looks outside."
            : "1:1 LifeFlow Coaching System™ für Creator und High Performer, die ein Leben wollen, das sich innerlich genauso gut anfühlt, wie es äußerlich aussieht."
        }}</span
      >
    </h4>
    <app-get-details-btn></app-get-details-btn>
  </div>
</div>
