<div>
  <div style="margin-top: 4rem">
    <h1 class="gradient-title-lg">
      {{
        currentLang === "en"
          ? "Build A Life That Makes You Happy."
          : "Wie du ein Leben aufbaust, das dich glücklich macht."
      }}
      <!--       <i class="text-accent">
        {{
          currentLang === "en"
            ? "& a life that feels as good inside as it looks outside."
            : "& ein Leben, das sich innen genauso gut anfühlt wie es außen aussieht."
        }}</i
      > -->
    </h1>
    <h4 style="margin: 3rem 1rem 3rem 1rem">
      <span style="font-size: 1.75rem" class="text-accent">
        {{
          currentLang === "en"
            ? "For stressed or busy individuals seeking more inner peace, clarity, and energy in daily life."
            : "Für gestresste oder vielbeschäftigte Menschen, die in ihrem Alltag mehr innere Ruhe, Klarheit und Energie suchen."
        }}</span
      >
    </h4>
    <app-go-to-btn></app-go-to-btn>
  </div>
</div>
