.center-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-setting-title {
  border-radius: 12px;
  box-shadow: 0 20px 40px #0d1b2a;
  margin: 1rem;
  border-radius: 50%;
}
