<div>
  <span class="card-title grey-text text-darken-4"
    >👉 Details & FAQ <i class="material-icons right">close</i></span
  >
  <div class="container">
    <div style="margin-top: 80px">
      @if (currentLang === "de") {
        <div>
          <ul class="collapsible" style="border-radius: 12px">
            <ng-container *ngFor="let entry of faqDetailsData_de">
              <li>
                <div
                  class="collapsible-header left-align"
                  style="border-radius: 12px"
                >
                  {{ entry.title | titlecase }}
                  <span class="badge text-secondary right-align">
                    👉 Details</span
                  >
                </div>
                <div class="collapsible-body">
                  <div [innerHTML]="entry.text"></div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      } @else {
        <div>
          <ul class="collapsible" style="border-radius: 12px">
            <ng-container *ngFor="let entry of faqDetailsData_en">
              <li>
                <div
                  class="collapsible-header left-align"
                  style="border-radius: 12px"
                >
                  {{ entry.title | titlecase }}
                  <span class="badge text-secondary right-align">
                    👉 Details</span
                  >
                </div>
                <div class="collapsible-body">
                  <div [innerHTML]="entry.text"></div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      }
    </div>
  </div>
</div>
