<div class="text-center bg-light background-layer-newsletter">
  <div
    class="row justify-content-center align-items-center g-3"
    style="min-height: 250px"
  >
    <div class="col-12 col-md-6 gradient-title-newsletterbanner">
      More Joy, Energy & Flow.
    </div>

    <div class="col-auto">
      <a
        class="waves-effect waves-light btn bg-highlight pulse-btn"
        style="border-radius: 12px"
      >
        <app-cta-email-course></app-cta-email-course>
      </a>
    </div>
  </div>
</div>
