<div style="margin-bottom: 8em">
  <div class="center-align">
    <ng-content select="[slot=title]"></ng-content>
  </div>

  <div class="flex-row center-align">
    <div class="col s12 m6" style="color: #ffffff; text-align: justify">
      <ng-content select="[slot=list]"></ng-content>
    </div>

    <div class="col s12 m6">
      <ng-content select="[slot=image]"></ng-content>
    </div>
  </div>
  <div class="center-align">
    <ng-content select="[slot=bottom]"></ng-content>
  </div>
</div>
